.contenedor{
    height: 100vh;
    width: 100%;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-size: 1.25rem;
    background: #34495e;
}
.contenedorcontenido{
    height: 80%;
    width: 80%;
    border: solid black 1px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-size: 1.25rem;
    background:#154360 ;
}

.contenedorElementos{
    height: 20%;
    width: 70%;
    text-align: center;
    font-family: inherit;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    background:transparent;

}

.tableBorder{
    border: solid black 1px;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.containerTable{
    width: 100%;
    height: 100vh;

}

.contenedorElementos input{
    width: 100%;
    color: #0a5b3e;
    background:#2874a6;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    padding: 0 3rem;
    font-family: inherit;
    font-size: 1.25rem;
    border: 0;
    border-radius: 0.5rem;
    outline: none;
    transition-duration: 0.35s;
    margin-top: 1%;
    
}
.button {
    color:#154360 ;
    background:#2874a6;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    padding: 0 3rem;
    font-family: inherit;
    font-size: 1.25rem;
    border: 0;
    border-radius: 0.5rem;
    outline: none;
    transition-duration: 0.35s;
    margin-top: 1%;

}